/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f1f2;
    /* Fondo igual que las otras páginas */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

/* Barra de Navegación */
.barra-navegacion {
    background-color: #333;
    padding: 10px;
}

.barra-navegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.barra-navegacion ul li {
    margin: 0 15px;
}

.barra-navegacion ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    display: block;
}

.barra-navegacion ul li a:hover {
    background-color: #555;
    border-radius: 4px;
    box-shadow: 2px 4px 8px #000;
}

/* Estilos para las Ventajas */
.ventajas {
    display: flex;
    justify-content: center;
    gap: 30px;
    /* Aumenta el espacio entre los cuadros */
    padding: 20px;
    flex-wrap: wrap;
    /* Para que sean responsivos */
}

.ventaja {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 30px; /* Aumenta el padding para más espacio interno */
    max-width: 300px; /* Aumenta el tamaño máximo del cuadro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
}

.ventaja p {
    font-size: 1.2em;
    /* Aumenta el tamaño del texto */
    line-height: 1.6;
    color: #333;
}

/* Estilos para la descripción */
.descripcion {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

.desc {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    max-width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
}

.desc ol {
    text-align: justify;
}

.desc ol li {
    font-weight: bold;
}

.desc ol img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

/* Imagen de las Ventajas */
.imagen-ventaja {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

/* Sección de Medios */
.media {
    text-align: center;
    padding: 20px;
}

/* Pie de Página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
.notificaciones{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-wrap: wrap;
    flex-direction: column;
}.carousel img {
            width: 100%;
            height: 600px; /* Ajusta el alto según tus necesidades */
            object-fit: contain; /* Asegura que las imágenes se recorten para llenar el área sin distorsionarse */
        }
        /* Contenedor del carrusel */
        .carousel {
            width: 80%;
            max-width: 600px;
            overflow: hidden;
            /*border-radius: 10px;*/
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }

        /* Contenedor de las imágenes y su disposición */
        .carousel-inner {
            display: flex;
            transition: transform 0.5s ease;
        }

        .carousel img {
            width: 100%;
            height: 600px; /* Ajusta el alto según tus necesidades */
            object-fit: contain; /* Asegura que las imágenes se recorten para llenar el área sin distorsionarse */
        }
        .carousel-item {
            display: flex;
            flex-direction: column;
            align-items: center; /* Centra el contenido del item */
            text-align: center; /* Centra el texto */
        }
        .description {
            margin-top: 10px; /* Espacio entre la imagen y la descripción */
            font-size: 1em; /* Tamaño de la fuente para la descripción */
            color: #666; /* Color de la fuente para la descripción */
            padding: 0 10px; /* Espacio en los lados de la descripción */
        }

        /* Ocultar radio buttons */
        input[type="radio"] {
            display: none;
        }

        /* Navegación automática por radio buttons */
        #radio1:checked ~ .carousel-inner {
            transform: translateX(0);
        }

        #radio2:checked ~ .carousel-inner {
            transform: translateX(-100%);
        }

        #radio3:checked ~ .carousel-inner {
            transform: translateX(-200%);
        }

        /* Botones de navegación manual */
        .navigation-manual {
            /*position: absolute;*/
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 10px;
            bottom: 10px;
        }

        .manual-btn {
            border: 2px solid white;
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s;
            margin: 0 5px;
        }

        .manual-btn:hover {
            background-color: rgb(0, 0, 0);
        }

        /* Navegación automática */
        .navigation-auto {
            /*position: absolute;*/
            display: flex;
            width: 100%;
            justify-content: center;
            bottom: 10px;
            visibility: hidden; /* Ocultar ya que la navegación es automática */
        }

        /* Configuración automática del cambio de imágenes */
        #radio1:checked ~ .navigation-auto .auto-btn1,
        #radio2:checked ~ .navigation-auto .auto-btn2,
        #radio3:checked ~ .navigation-auto .auto-btn3 {
            background-color: rgb(0, 0, 0);
        }

    